.home{
    width: 100%;
    background-color: #eee;
    display: flex;
    height: 92.4vh;
}

.details{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 690px;
    overflow-y: scroll;
    overflow-x: hidden;
}